.title {
    font-size: 23px;
    font-weight: 700;
}

.daily-item {
    background: rgb(173, 129, 129);
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    align-items: center;
    display: flex;
    cursor: pointer !important;
    font-size: 14px;
    padding: 5px 20px;
}

.icon-small {
    width: 40px;
}

.day {
    color: #212121;
    font-weight: 500;
    font-size: 18px;
    margin: 0 10px;
    flex: 1 1;
}

.description {
    flex: 1 1;
    font-size: 15px;
    margin-right: 15px;
    text-align: right;
}

.temp {
    color: #2f2727;
    font-weight: 650;
    font-size: 1.2rem;
}

.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    column-gap: 120px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px 15px;
}

.daily-details-grid-item {
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: space-between;
}

.daily-details-grid-item label:first-child {
    color: #938080;
}

.daily-details-grid-item label:last-child {
    color: #4c3737;
}